* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --banner-font: 80px;
  --h1-font: 3rem;
  --h2-font: 1.5rem;
  --h3-font: 1rem;

  --primary: #21209c;
  --secondary: #fdb827;
  --light: #f1f1f1;
  --dark: #23120b;

  --title-font: Oswald;
  --text-font: Open Sans;
}

html,
body {
  height: 100%;
  background-color: var(--light);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color: var(--dark);
  position: relative;
}

.nav-title {
  font-family: var(--title-font);
  font-size: var(--h1-font);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.navlink {
  font-size: var(--h2-font);
  font-family: var(--text-font);
  margin: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.navlink:hover {
  border: 2px solid var(--dark);
}

.signup-btn {
  border: 0;
  outline: 0;
  padding: 5px 40px;
  text-align: center;
  font-size: var(--h2-font);
  font-family: var(--text-font);
  /* background: var(--primary); */
  border: 2px solid var(--dark);
  color: var(--dark);
  cursor: pointer;
}

/* BANNER */
.banner-section {
  margin: 0 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

.banner-title {
  font-size: var(--banner-font);
  font-family: var(--title-font);
  min-width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  color: var(--primary);
}

.banner-text-container {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  font-family: var(--text-font);
  font-size: var(--h2-font);
  color: var(--dark);
  line-height: 1.6;
}

.banner-btns {
  display: flex;
  justify-content: center;
}

.banner-btns button {
  position: relative;
  padding: 1rem 48px;
  margin: 1rem;
  border: 2px solid var(--dark);
  font-size: var(--h3-font);
  font-weight: bold;
  color: var(--dark);
  font-family: var(--text-font);
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.banner-buy-btn::before,
.banner-learn-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: var(--secondary);
  z-index: -1;
  transition: all 0.3s;
}

.banner-buy-btn:hover::before,
.banner-learn-btn:hover::before {
  height: 100%;
}

.banner-buy-btn::after,
.banner-learn-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-color: var(--light) "";
}

/* CARDS */

.card-header {
  text-align: center;
  font-family: var(--title-font);
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.line {
  width: 80%;
  margin: 0 auto;
  border: 2px solid var(--dark);
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-section > * {
  flex: 1 1 300px;
}

.card {
  max-width: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  margin: 1rem;
  border-bottom: 3px solid var(--dark);
}

.card-section img {
  max-width: 100%;
  border-bottom: 2px solid var(--dark);
}

.card-text-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
}

.card-title {
  padding: 1rem;
  font-family: var(--title-font);
  font-size: var(--h1-font);
  color: var(--primary);
}

.card-text-content p {
  padding: 1rem;
  font-family: var(--text-font);
  font-size: var(--h2-font);
  color: var(--dark);
}

.check-btn {
  padding: 10px 20px;
  margin: 1rem;
  font-family: var(--text-font);
  font-size: var(--h3-font);
  outline: none;
  border: 0;
  background-color: var(--secondary);
  color: var(--dark);
  cursor: pointer;
  font-size: var(--h3-font);
  font-family: var(--text-font);
  border: 2px solid var(--dark);
  font-weight: 600;
}

.check-btn:hover {
  color: var(--primary);
}

/* ABOUT SECTION */

.about-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem;
  border-radius: 5px;
}

.img-container,
.about-text {
  padding: 2rem;
}

.about-img {
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.about-section > *:nth-child(1) {
  flex: 1 1 30%;
}

.about-section > *:nth-child(2) {
  flex: 1 1 70%;
  font-size: var(--h2-font);
  font-family: var(--text-font);
  color: var(--dark);
  line-height: 1.6;
  min-width: 50ch;
}
